body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

/* ---HEADER----------------------------------------- */

header {
  /* background-color: #1f2937; */
  background-color: green;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 80vw;
  padding: 0.5em;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container nav ul {
  display: flex;
}

.header-container a {
  padding: 1em;
}

/* ---HERO------------------------------------------- */

.hero-container {
  background: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.hero-call {
  display: flex;
  gap: 1em;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0.5em;
}

.hero-call-text {
  margin-right: 30em;
}
.hero-call img {
  width: 250px;
}

.hero-call button {
  background-color: #3882f6;
  border: none;
  font-size: 0.8em;
  color: #f9faf8;
  width: 120px;
  height: 40px;
  padding: 10px 14px;
  border-radius: 0.4em;
}

.hero-container img {
  margin-bottom: 2em;
  border-radius: 20px;

  /* width: 200px; */
}
